<ul>
  <% @burner.events.each do |event| %>
    <li><a href="/events/<%= event.id %>"><%= event.name %> </a></li>
  <% end %>
</ul>

<ul>
  <% @burner.users.each do |user| %>
    <li><a href="/users/<%= user.id %>"><%= user.name %> </a></li>
  <% end %>
</ul>
