<h1>Add a New Event</h1>

<form action="/events" method="POST">
  <label> Name </label>
  <input type="text" name="name"><br><br>

  <label> Description </label><br>
  <textarea type="text" name="description"> </textarea><br><br>

  <label> Date </label><br>
  <input name="date" id="date" type="date" value="<%=Date.today%>"><br><br>

  <label> Duration </label><br>
  <input type="number" name="hours" id="hours" min="0" max="24"> <strong>.</strong>
  <select name="split" id="split">
    <option value=".0">0</option>
    <option value=".25">25</option>
    <option value=".5">5</option>
    <option value=".75">75</option>
  </select> hr(s)<br><br>

  <label> Choose Your Event's Burner(s) </label><br>
  <% Burner.all.each do |burner| %>
    <input type="checkbox" name="burner_ids[]" value="<%= burner.id %>" id="<%= burner.name %>"> <%=burner.name%></input>
  <% end %><br><br>

  <input type="submit" value="Create"><br>
</form>
