<h1>Add a New Event</h1>

<form action="/events" method="POST">
  <label> Event Name </label>
  <input type="text" name="name">
  <br>
  <input type="radio" name="public">Public</input>
  <input type="radio" name="private">Private</input>
  <br><br>
  <label> Event Description </label><br>
  <textarea type="text" name="description"> </textarea>
  <br><br>
  <label> Choose an Event Type </label><br>
  <% EventType.all.each do |event_type| %>
    <input type="checkbox" name="event_type_ids[]" value="<%= event_type.id %>"><%=event_type.name%></input>
  <% end %>
  <br><br>
  <label> Or Create a New Event Type </label>
  <br>
  <label> Event Type: </label>
  <input type="text" name="event_type[name]" id="event_type_name"></input>
  <br>
  <input type="submit" value="Create">
</form>
