<h1>Add a New Event</h1>

<form action="/events" method="POST">
  <label> Event Name </label>
  <input type="text" name="name"><br>

  <label> Event Description </label><br>
  <textarea type="text" name="description"> </textarea><br>

  <label> Choose a Burner </label><br>
  <% Burners.all.each do |burner| %>
    <input type="checkbox" name="burners[]" value="<%= burner.id %>" id="<%= burner.name %>"> <%=burner.name%></input>
  <% end %><br>
  
  <input type="submit" value="Create">
</form>
