<h2> Welcome! </h2><br>
<table width="600">
  <tr><th>
<h4>The best way to understand this site might be to read a short snippet
  from an <a href="https://www.newyorker.com/magazine/2009/08/24/laugh-kookaburra">
  article by David Sedaris</a> in an issue of the New Yorker
  from August 2009</h4><br>
<em>
<h4>Pat was driving, and as we passed the turnoff for a shopping center
  she invited us to picture a four-burner stove.</h4>

<h4>“Gas or electric?” Hugh asked, and she said that it didn’t matter.</h4>

<h4>This was not a real stove but a symbolic one, used to prove a point
  at a management seminar she’d once attended. “One burner represents
  your family, one is your friends, the third is your health, and the
  fourth is your work.” The gist, she said, was that in order to be
  successful you have to cut off one of your burners. And in order to
  be really successful you have to cut off two.</h4>
</em><br>

<h4>This site aims to help people get a view of their life on these terms.
  Log a few upcoming events from your schedule then head on over to the
  burner breakdown section and see how things look.</h4>
</th></tr>
</table>
