<!doctype html>
<html>
  <head>
    <title>Four Burner Event Organizer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <% if logged_in? %>
      <p>
        <a href="/events/new"> Create Event </a>  |
        <a href="/events"> All Events </a> |
        <a href="/burners"> Burners Breakdown </a> |
        <a href="/logout"> Log Out </a> |
      </p>

        <p>Welcome, <%=current_user.name %></p>

      <% else %>
        <p>
          <a href="/signup"> Sign Up </a> |
          <a href="/login"> Log In </a>
        </p>
      <%end %>

    </nav>
    <div class="container">
      <h1>Four Burner Event Organizer</h1>
      <%= yield %>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
